@import '~assets/sass/variables';

.kata-dropdown-selector {
  &__button {
    position: relative;
    text-align: left;
    background: $white;
    border-radius: $border-radius-medium;
    border: 1px solid $gray-30;
    padding: 10px 36px 10px 16px;
    height: 40px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: $subtitle-line-height;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--filled {
      color: $gray-70;
    }
    .kata-drop-toggle {
      position: absolute;
      right: 8px;
      top: 9px;
    }
    &:hover:not(.disabled) {
      border-color: $kata-blue;
    }
    &:focus,
    &:active {
      box-shadow: none !important;
      // border: none;
    }
    &.kata-dropdown--menu-open {
      color: $white;
      background-color: $gray-70 !important;
      &:hover {
        border: 1px solid $gray-70;
      }
    }
  }
  &__menu {
    width: 100%;
  }
  &__loading {
    position: absolute;
    top: 6px;
    right: 10px;
  }
}
