@import '~assets/sass/variables';

$dropdown-spacer: 0.125rem !default;

@mixin dropdown-menu {
  border-radius: $border-radius-small;
  box-shadow: $layer-200-shadow;
}

.kata-drop-toggle {
  position: relative;
  display: inline-block;
  top: 2px;
  margin-left: 8px;
  font-size: 20px;
  &::before {
    vertical-align: middle;
  }
}

.kata {
  &-dropdown {
    &__header {
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 0.2px;
      color: $gray-50;
      padding: 0 16px;
    }

    &__item {
      padding: 10px 16px;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $gray-70 !important;
      &--selected {
        color: $kata-blue;
      }

      &:hover:not(.disabled) {
        background: $gray-10;
      }

      &:focus:not(.disabled),
      &:active:not(.disabled) {
        background: $gray-10;
        color: $kata-blue !important;
      }
    }

    &__menu {
      @include dropdown-menu();

      &--open {
        button {
          color: $white;
          background-color: $gray-70 !important;
        }
      }

      &--right {
        right: 0;
        left: auto;
      }
    }
  }

  &-dropup {
    &__menu {
      top: unset !important;
      bottom: 100%;

      @include dropdown-menu();

      &--right {
        left: unset !important;
        right: 0;
      }
    }
    .kata-drop-toggle {
      transform: rotate(180deg);
    }
  }

  &-dropright {
    &__menu {
      left: 100% !important;
      top: 0 !important;

      @include dropdown-menu();
    }
    .kata-drop-toggle {
      top: 1px;
      transform: rotate(-90deg);
    }
  }

  &-dropleft {
    &__menu {
      top: 0 !important;
      // We need to use transform for dropleft because the dropdown menu
      // can't goes over the parent container
      transform: translate3d(calc(-100% - #{$dropdown-spacer}), 0, 0);

      @include dropdown-menu();
    }
    .kata-drop-toggle {
      top: 1px;
      transform: rotate(90deg);
      margin-left: -5px;
      margin-right: 8px;
    }
  }
}

.dropdown-menu {
  border: none;
}
