@import '~assets/sass/variables';

.kata-nlstudio-dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-bottom: calc(#{$space-3} + 40px);

  .kata-dashboard__content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    position: relative;
  }
}

.kata-train-page {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  &__loading-container {
    flex: 1 1 auto;
    position: relative;
    padding: $space-4 0;
  }

  .kata-card:hover {
    transform: none;
  }
}

.kata-train-input {
  position: relative;
  margin-bottom: $space-3;
  &__textbox {
    height: 64px;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 24px;
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: $gray-50;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: $gray-50;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: $gray-50;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: $gray-50;
    }
  }
  &__loading {
    height: 30px;
    margin-right: 24px;
  }
  &__floating {
    position: absolute;
    top: 16px;
    right: 24px;
  }
  &__splitbutton {
    .kata-btn {
      font-weight: 300;
    }

    .kata-splitbutton__toggle {
      padding-right: 8px !important;
    }
  }
}

.kata-train-list {
  &__page-numbers {
    display: inline-block;
    margin-left: 24px;
  }
}

.kata-train-item {
  position: relative;
  padding: $space-3;
  color: $gray-80;
  &__label {
    font-size: 1em;
    border-radius: 4px;
    padding: 0 2px;
  }
  &__action {
    position: absolute;
    right: $space-3;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }
  &__action-icon {
    font-size: 20px;
  }
  &--training {
    padding-right: 52px;
  }
  &--log {
    padding-right: 120px;
  }
}

.kata-train-form {
  &__header {
    padding: 24px 40px;
    border-bottom: 1px solid $gray-30;
    font-size: 16px;
    cursor: text;
  }
  &__body {
    padding: 24px 40px;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: $space-1;
  }
  &__item {
    position: relative;
    padding: 14px 16px;
    border: 1px solid $gray-30;
    border-radius: $border-radius-small;
    margin-bottom: $space-1;
    &-block {
      background: $gray-10;
    }
  }
  &__label {
    font-size: 11px;
    border-radius: 2px;
    padding: 2px 4px;
    letter-spacing: 0.3px;
    &--white {
      border: 1px solid $gray-30;
      background: $white;
    }
    &--dark {
      background: $gray-70;
      color: $white;
    }
    &--trait {
      color: $kata-blue;
      border: 1px solid $kata-blue;
      font-size: 13px;
      border-radius: 4px;
      padding: 2px 8px;
    }
  }
  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }
  &__splitbutton {
    margin: -4px 0;

    .kata-splitbutton__toggle {
      padding-right: 8px !important;
    }
  }
  &__close {
    font-size: 16px;
    position: absolute;
    top: 13px;
  }
}

.kata-train-annotated {
  &__container {
    &:focus {
      outline: none;
    }
  }
}
