@import '~assets/sass/variables';

.kata-product-table {
  &__predefined {
    padding: 16px;
  }
  &__options {
    border-top: solid 1px $gray-30;
    padding: 16px;
  }

  &__column {
    display: block;
    border: solid 1px $gray-30;
    border-radius: 8px;
    margin-bottom: 16px;

    transition: all $transition-fast $transition-easing;

    &--active {
      border-color: $kata-blue;
    }
  }
  &__column-header {
    display: flex;
    flex-direction: row;
    padding: 16px;
    align-items: center;
    border-bottom: solid 1px $gray-30;
  }
  &__column-header-field {
    flex: 0 0 auto;
    margin-right: 16px;
    width: 136px;
  }
  &__column-header-action {
    margin-left: auto;
    flex: 0 0 auto;
    .kata-btn {
      transform: rotate(-90deg);
    }
  }
  &__column-body {
    padding: 16px;
  }
}
