@import '~assets/sass/variables';

.kata-pagination {
  display: inline-block;
  &__button {
    background: $white;
    margin-left: 4px;
    line-height: 1;
    min-width: 32px;
    width: auto;
    &:disabled,
    &[disabled] {
      background: $gray-10;
    }
    &--active {
      background: $kata-blue;
      border-color: $kata-blue;
      color: $white;
    }
  }
}
