@import '~assets/sass/variables';

$entity-card-size: 274px;
$entity-card-label-size: 250px;
$entity-card-height: 200px;

.kata {
  &-method {
    &__card {
      height: $entity-card-height;
      .kata-card__body {
        margin-top: 0;
      }
    }
    &__add-btn {
      display: flex;
      justify-content: center;
      height: $entity-card-height;
    }
    &__body {
      display: flex;
      margin-top: $space-3;
    }
    &__labels-container {
      max-width: $entity-card-label-size;
      max-height: 30px;
      overflow: hidden;
      margin-left: -4px;
      padding: 4px;
      &:hover {
        position: absolute;
        overflow: auto;
        transition: all 0.5s ease;
        background: $white;
        border-radius: 8px;
        box-shadow: $layer-200-shadow;
        max-height: inherit !important;
      }
    }
    &__badge {
      height: 20px;
      border-radius: 2px;
      background-color: $gray-70;
      font-weight: bold;
      line-height: 1.45;
      color: $white;
    }
  }
}
