@import '~assets/sass/variables';

@keyframes message-animation-in {
  from {
    opacity: 0;
    transform: translateY(10%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.kata-emulator {
  &__panel {
    height: 100%;
  }

  &__reinit-text {
    cursor: pointer;
    float: right;
    text-decoration: underline;
  }

  &__widget {
    position: fixed;
    width: 50%;
    border-radius: 8px;
    bottom: 16px;
    right: 48px;
    z-index: 209;

    background-color: $white;
    box-shadow: $layer-200-shadow;
  }

  &__panel-overlay {
    position: fixed;
    z-index: 200;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
  }

  &__panel-heading {
    height: 80px;
    border-bottom: 1px solid $gray-30;
  }

  &__panel-title {
    display: flex;
    padding: 24px;
    flex: 1 0 auto;
  }

  &__panel-text {
    flex: 1 0 auto;
  }

  &__panel-body {
    position: relative;
    display: flex;
    height: 470px;

    @media (min-width: $break-medium) {
      height: 363px;
    }
  }

  &__panel-footer {
    height: 88px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px 24px 0px 24px;
    z-index: inherit;
    background-color: $white;
    border-top: 1px solid $gray-30;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &__result-box {
    width: 432px;
    height: 384px;
    border-radius: 4px;
    overflow: auto;
    padding: 16px;
    margin-top: 16px;

    background-color: $gray-10;
    border: solid 1px $gray-30;
  }

  &__btn-close {
    position: absolute;
    right: $space-3;
  }

  &__deployment-list {
    width: 200px;
    margin-left: $space-3;
  }

  &__btn-testing {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 40px;
    height: 40px;
    border-radius: 6px 6px 0 0;

    background-color: $white;
    box-shadow: $layer-200-shadow;
    color: $gray-70;

    &:hover {
      color: $kata-blue;
      background: $white;

      & > .kata-emulator__icon-testing {
        color: $kata-blue;
      }
    }
  }

  &__icon-testing {
    margin: 0 8px 0 0;
    font-size: 20px;
    object-fit: contain;

    color: $gray-70;
  }

  &__loading {
    position: absolute;
    top: 113px;
    right: 35px;
  }

  &__remove {
    cursor: pointer;
    position: absolute;
    top: 113px;
    right: 35px;
  }

  &__banner {
    position: absolute;
    bottom: $space-1;
    left: $space-3;
    right: $space-3;
  }

  &__message-container {
    list-style: none;
    padding: $space-3 0px 0px 0px;
    margin: 0;
    width: 100%;
    overflow: auto;
  }

  &__message {
    margin-bottom: 16px;
    clear: both;
    max-width: 50%;
    animation: message-animation-in ease 0.5s;

    &--left {
      float: left;
      padding-left: $space-3;
    }

    &--right {
      float: right;
      padding-right: $space-3;
    }

    &--right &-content {
      color: $white;
      background-color: $kata-blue;
    }

    &--left &-content {
      color: black;
      background-color: $gray-10;
    }
  }

  &__message-image {
    height: 150px;
    background: #ddd;
    margin: 8px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__message-content {
    border-radius: 12px;
    padding: 8px 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

    &--left {
      background: #eee;
      color: #333;
    }

    &--right {
      background: #58f;
      color: #fff;
      text-align: right;
    }
  }

  &__actions {
    list-style: none;
    padding: 0;
    margin: 4px;
    li {
      padding: 0;
      margin: 0 0 4px 0;
    }
  }

  &__message-meta {
    font-size: 11px;
    margin-top: 4px;

    .action {
      margin-left: 8px;
      cursor: pointer;
      vertical-align: middle;
      line-height: 1;

      color: $kata-blue;
    }

    .json {
      padding: 8px;
      font-family: monospace;
      font-size: 11px;
      overflow: auto;
      max-height: 150px;
      background: #eee;
      border-radius: 4px;
      animation: message-animation-in ease 0.5s;
    }
  }
}
