@import '~assets/sass/variables';

.kata-project-card {
  height: 200px;
  overflow: visible !important;

  .kata-card__body {
    display: block;
    padding-bottom: 24px;
  }

  &__table {
    table-layout: fixed;
  }

  &__table-header {
    &--environment {
      width: 141px;
    }
  }

  &__table-body {
    td {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.kata-project-selector {
  width: 200px;
  position: absolute;
  right: 140px;
}

.kata-table {
  &--deployment-container {
    margin-bottom: -2px;
    overflow-y: hidden;
    padding: 1px;

    tbody {
      tr:not(:first-child) {
        display: none;
      }
    }

    &:hover {
      margin: -4px -7px -4px;
      padding: 4px 8px;
      background: #fff;
      border-radius: 4px;
      box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
      max-height: inherit !important;
      overflow-y: auto;
      z-index: 9999;

      tbody {
        tr:not(:first-child) {
          display: table-row;
        }
      }
    }

    .kata-light-table {
      border-collapse: collapse;
    }
  }
}
