@import '~assets/sass/variables';

.kata-flow {
  &__wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
  }
  &__side {
    display: table-cell;
    vertical-align: top;
    width: 240px;
    height: 100%;
    background: $gray-20;
    border-right: 1px solid $gray-30;
    padding: 28px 16px;
    &-wrapper {
      position: relative;
      height: 100%;
    }
    &-content {
      position: absolute;
      width: 100%;
      top: 109px;
      bottom: 0;
    }
  }
  &__title {
    display: inline-block;
    margin-bottom: $space-3;
  }
  &__main {
    display: table-cell;
    vertical-align: top;
  }
  &__header {
    height: 80px;
    border-bottom: 1px solid $gray-30;
    padding: 24px 48px 16px;
  }
  &__content {
    position: absolute;
    width: 100%;
    top: 80px;
    bottom: 0;
    overflow: auto;
  }
}

.kata-flow-item {
  position: relative;
  height: 42px;
  background: $white;
  border: 1px solid $gray-30;
  border-radius: $border-radius-medium;
  margin: 4px 4px $space-1 4px;
  padding: 10px 40px 10px 26px;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    background: $gray-10;
    border-color: $kata-blue;
  }
  &:focus,
  &:active {
    background: $gray-70;
    border-color: $gray-70;
    color: $white;
    .kata-flow-item__action .kata-btn {
      color: $white;
    }
  }
  &--selected {
    border-color: $kata-blue;
    box-shadow: 0 0 0 3px $soft-kata-blue;
    .kata-flow-item__content {
      color: $kata-blue;
    }
    &:hover {
      background: $white;
      border-color: $kata-blue;
    }
    &:active {
      .kata-flow-item__draggable,
      .kata-flow-item__action .kata-btn {
        color: $gray-70;
      }
    }
  }
  &__draggable {
    cursor: move;
    position: absolute;
    left: 8px;
    top: 12px;
    font-size: 10px;
  }
  &__content {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__action {
    position: absolute;
    top: 4px;
    right: 4px;
  }
}
