@import '~assets/sass/variables';

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.kata-cms-element {
  background: #fff;
  flex: 1 1 0;
  border-radius: 8px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: $space-1;

  transition: all $transition-normal $transition-easing;

  &--no-header {
    box-shadow: none;
  }

  &__header {
    display: flex;
    margin-bottom: $space-1;
    padding: 16px;
    line-height: 1;
    border-bottom: solid 1px $gray-30;
    &-handle {
      margin-right: $space-2;
      font-size: 12px;
      align-self: start;
      cursor: move;
      position: relative;
      top: 4px;
    }
    &-optional {
      margin: 8px 8px 0;
    }
    &-optional-text {
      margin: 0 8px;
      font-size: 13px;
      font-weight: 500;
      color: $gray-70;
      position: relative;
      top: 3px;
    }
    &-label {
      flex: 1 0 auto;
      margin-right: 8px;
    }
    &-name {
      flex: 0 0 160px;
    }
    &-actions {
      flex: 0 1 auto;
      margin-left: $space-1;
    }
  }
  &__preview,
  &__options {
    animation: fadeIn $transition-slow $transition-easing;
  }
  &__options {
    padding: $space-1;
    background: #eee;
    border-radius: 0 0 $border-radius-small $border-radius-small;
  }

  &--center {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}

.kata-location {
  &-element {
    width: 455px;
    margin: auto;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 2px $gray-30;
    display: flex;
    padding: 16px;

    &__thumbnail {
      flex: 1 0 0;
      width: 108px;
      height: 108px;
      img {
        width: 108px;
        height: 108px;
        object-fit: contain;
      }
    }
    &__data {
      text-align: left;
      flex: 1 1 auto;
      width: auto;
      margin-left: 24px;

      &-title {
        font-size: 14px;
        font-weight: bold;
        color: $gray-80;
      }
      &-address {
        margin-top: 4px;
        font-size: 13px;
        font-weight: 300;
        color: $gray-70;
      }
    }
  }
}
.kata-image-element {
  &__container {
    border: 2px solid $gray-30;
    border-radius: 8px;
    color: $gray-50;
    display: flex;
    margin-left: 47px;
    margin-right: 47px;
    height: 240px;

    &-drop {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-right: 2px solid $gray-30;
      width: 240px;
      padding-top: 64px;
      text-align: center;

      background-color: $gray-10;
    }

    &-preview {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
    }
  }

  &__dropdown-placeholder {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    background-color: $gray-30;
  }
}
