@import '~assets/sass/variables';

.kata-cms-widget-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

.kata-cms-widget {
  flex: 1 1 100%;
  padding: 10px 8px;
  margin: 4px 0;
  border-radius: 6px;
  background-color: #ffffff;
  border: solid 1px $gray-30;
  display: flex;
  align-items: center;

  transition: all $transition-normal $transition-easing;

  &:hover {
    border: solid 1px $kata-blue;
  }
  &__title {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.54;
    text-align: left;
    color: $gray-70;
    flex: 1 0 auto;
  }
  &__icon {
    margin-right: 16px;
    flex: 0 0 auto;
    font-size: 10px;
  }
}
