@import '~assets/sass/variables';

$bot-nlu-card-height: 200px;

@mixin multiple-input-wrapper {
  position: relative;
  border-radius: 4px;
  padding: 24px;
  background-color: $gray-10;
  margin-bottom: 16px;
  margin-top: 24px;
}

.kata-bot-nlu {
  &__card {
    height: $bot-nlu-card-height;
  }

  &__add-btn {
    justify-content: center;
    height: $bot-nlu-card-height;
  }

  &--flex-one {
    flex: 1;
  }

  &--processor-wrapper,
  &--regex-wrapper {
    @include multiple-input-wrapper();
  }

  &--remove-btn {
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
    position: absolute;
    right: -16px;
    top: -16px;
  }

  &__create {
    &--keyword-wrapper {
      @include multiple-input-wrapper();
    }
  }
}
