@import '~assets/sass/variables';

.kata-sidebar-container-title {
  &--cms {
    margin: 0;
    margin-bottom: $space-2;
    font-size: $h2-font-size;
    font-weight: $h2-font-weight;
    line-height: $h2-line-height;
  }
}
