@import '~assets/sass/variables';

@keyframes popIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.kata-btn__support {
  padding: 8px 16px;
  font-weight: 700;
  font-size: 11px;
  line-height: 1.45;

  color: $gray-50;
  border: 1px solid $gray-30;
  background: #fff;

  &:hover {
    background-color: $gray-10;
    color: $gray-50;
  }

  &:focus {
    box-shadow: unset;

    color: $white;
    background-color: $gray-70;
  }

  & > .kata-loader-circle {
    position: absolute;
    left: 50%;
    margin-left: -16px;
    margin-top: -8px;
  }
}

.kata-btn {
  padding: 10px 24px;
  height: 40px;
  font-weight: 500;
  letter-spacing: 0.2px;
  border-radius: $border-radius-small;
  line-height: $subtitle-line-height;

  &--small {
    height: 32px;
    padding: 8px 16px;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
  }

  .kata-loader-circle {
    margin: -6px 0;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    svg path,
    svg rect {
      fill: $white;
    }
  }

  &:focus {
    box-shadow: unset !important;
    outline: none !important;
  }

  &__primary {
    background-color: $cobalt;
    border-color: $cobalt;
    color: $white;

    &:hover {
      color: $white;
      background-color: $semi-cobalt;
    }

    &:active {
      color: $white;
      background-color: $dark-cobalt !important;
    }
  }

  &__secondary {
    border: none;
    color: $gray-50;
    background-color: $gray-10;

    &:hover {
      color: $gray-50;
      background-color: $gray-20;
    }

    &:active {
      color: $white;
      background-color: $gray-70 !important;
    }
  }

  &__danger {
    border: none;
    color: $white !important;
    background-color: $red !important;
  }

  &__white {
    border: 1px solid $gray-30;
    color: $gray-70;
    background-color: $white;

    &:hover {
      color: $gray-70;
      background-color: $gray-10;
    }

    &:active {
      color: $white;
      background-color: $gray-70 !important;
    }

    .kata-loader-circle svg path,
    .kata-loader-circle svg rect {
      fill: $gray-70;
    }
  }

  &:disabled,
  &--disabled {
    background: $gray-40;
    border: solid 1px darken($gray-40, 10%);
    &:hover {
      background: $gray-40;
      border: solid 1px darken($gray-40, 10%);
    }
  }

  &-icon {
    height: 32px;
    width: 32px;
    padding: 8px;
    text-align: center;
    background: none;
    color: $gray-60;

    i:before {
      font-size: 16px;
    }
  }
}

.kata-btn-float {
  height: 40px;
  width: 40px;
  font-weight: 500;
  border-radius: 50%;
  line-height: 1;
  box-shadow: $layer-200-shadow;
  font-size: 16px;
  vertical-align: middle;
  color: $gray-60;
  background: $white;
  align-items: center;
  justify-content: center;
  position: relative;

  animation: popIn $transition-fast $transition-easing;

  &--corner-right {
    position: absolute;
    top: -16px;
    right: -16px;
  }

  &:focus {
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
  }

  .kata-loader-circle {
    position: absolute;
    top: 0;
    left: -1px;
  }

  i::before {
    vertical-align: middle;
  }

  &__primary {
    &:hover,
    &:active {
      color: $kata-blue;
    }
  }

  &__success {
    &:hover,
    &:active {
      color: $green;
    }
  }

  &__danger {
    &:hover,
    &:active {
      color: $red;
    }
  }

  &__warning {
    &:hover,
    &:active {
      color: $yellow;
    }
  }

  &:disabled,
  &[disabled] {
    background: $gray-10;
  }

  &-icon {
    height: 32px;
    width: 32px;
    padding: 8px;
    text-align: center;
    background: none;
  }
}

// This button is landing page button
.kata-btn-landing {
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 13px;
  font-weight: bold;
  line-height: 1.54;
  letter-spacing: 0.2px;
  text-align: center;
  color: $gray-70;
  padding: 10px 24px;
  transition: all 0.3s ease;
  // Link using this button style should be inline-block
  display: inline-block;

  &:hover {
    // Link using this button style should not display underline
    text-decoration: none;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(-1px);
    text-decoration: none;
    color: $kata-blue;
  }
  &:active {
    &:not(:disabled) {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
      transform: translateY(0);
      background: inherit, rgba(0, 0, 0, 0.1);
    }
  }
}

.kata-btn-loadmore {
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 13px;
  font-weight: bold;
  line-height: 1.54;
  letter-spacing: 0.2px;
  text-align: center;
  color: $gray-70;
  padding: 10px 24px;
  transition: all 0.3s ease;
  display: inline-block;
  font-weight: 700;
  transition: all 0.3s ease;

  .icon-spinner {
    transition: all 0.3s ease;
  }

  &:hover {
    color: $kata-blue !important;
    background-color: #ffffff;
    text-decoration: none;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(-1px);
    text-decoration: none;
    .icon-spinner {
      transform: rotate(180deg);
    }
  }

  &:focus {
    background-color: rgb(42, 144, 255) !important;
    color: $white !important;
    & .icon-spinner {
      g {
        fill: $white;
      }
    }
  }

  &:active {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(0);
    background-color: rgb(42, 144, 255) !important;
    color: $white !important;
    & .icon-spinner {
      g {
        fill: $white;
      }
    }
  }
}

.kata-btn__hollow {
  height: 40px;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.45;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $gray-70;
  border: 1px solid $gray-30;
  background: #fff;

  &:hover {
    background-color: $gray-10;
    color: $gray-70;
  }

  &:focus {
    box-shadow: unset;

    color: $white;
    background-color: $gray-70;
  }

  .icon-arrow-left {
    &:before {
      height: unset;
      line-height: unset;
    }
  }

  & > .kata-loader-circle {
    position: absolute;
    left: 50%;
    margin-left: -16px;
  }
}

.kata-btn__iconic {
  height: 40px;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.45;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $kata-blue;
  border: 1px solid $gray-30;
  background: #fff;

  &:hover {
    background-color: $gray-10;
    color: $kata-blue;
  }

  &:focus {
    box-shadow: unset;
    color: $white;
    background-color: $gray-70;
  }
  .icon {
    &:before {
      height: unset;
      line-height: unset;
    }
  }
}
