@import '~assets/sass/variables';

.kata-logo {
  width: 64px;
  margin-right: 12px;
  text-align: center;

  img {
    display: inline-block;
  }
}

.kata-topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background: $white;
  border-bottom: 1px solid $gray-30;
  z-index: 110;
  padding: 12px 46px 12px 0;

  &__left {
    flex: 1 1 auto;
  }

  &__right {
    flex: 0 0 auto;
  }

  &__selector {
    width: 184px;
    display: inline-block;
    vertical-align: middle;
  }
}
