@import '~assets/sass/variables';

.kata-environment {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.kata-chart-container {
  height: 250px;
  width: 100%;
  font-size: 13px;
}

.kata-analytics-body {
  position: relative;
}

.kata-transcript-jump-to {
  position: absolute;
  top: 24px;
  right: 20px;

  @media (min-width: $break-medium) {
    right: 40px;
  }

  @media (min-width: $break-large) {
    right: 48px;
  }
}

.subtext-gray {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.54;
  color: $gray-70;
}
