@import '~assets/sass/variables';

.kata-profile {
  position: relative;
  width: 200px;
  border-radius: 6px;
  border: solid 1px #e2e6e8;
  background-color: $white;
  padding: 2px 8px;

  &__toggle {
    padding: 6px;
    height: 32px;
    width: 32px;
    background: $white;
    margin: 2px 0 2px 14px;

    &.kata-dropdown--menu-open {
      background: $gray-70;
      color: $white;
    }

    .kata-drop-toggle {
      margin: 0;
      margin-top: -2px;
    }
  }
  &__container {
    display: flex;
    align-items: center;
  }
  &__avatar {
    width: 24px;
    height: 24px;
    background: $gray-10;
    border-radius: 50%;
    border: 1px solid $gray-20;
    cursor: pointer;
    margin-right: 8px;
  }
  &__text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__menu {
    width: 200px;
    right: -10px;
    left: auto;
    margin-top: 5px;
  }
  &__team {
    &--active {
      color: $kata-blue !important;
    }
    &-avatar {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      margin: -2px $space-1 -2px 0;
    }
  }
  &__user-selected {
    color: $kata-blue;
  }
  &__left {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__right {
    flex: 0 0 auto;
  }
}
