@import '~assets/sass/variables';

$carousel-transition: transform 0.6s ease !default;

.kata-lightbox__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: hidden;
  justify-content: center;
  outline: 0;
  background: rgba(0, 0, 0, 0.75);
}

.kata-lightbox {
  top: 0;
  bottom: 0;
  z-index: 1050;
  display: flex;
  overflow: hidden;
  outline: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.kata-lightbox--show {
  display: flex !important;
}

.kata-lightbox__body {
  padding: 0;
}

.kata-lightbox__inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.kata-lightbox__item {
  position: relative;
  display: none;
  align-items: center;
  width: 100%;
  backface-visibility: hidden;
  perspective: 1000px;
  opacity: 0;
}

.kata-lightbox__item.active {
  animation: nextSlide 0.6s ease;
  display: block;
  opacity: 1;
}

.kata-lightbox__arrow {
  position: absolute;
  font-size: 0.85rem !important;
  font-weight: 700 !important;
  line-height: 1.23rem !important;
  margin-top: -4px;
  margin-right: 16px;
  text-align: center;
  top: 50%;
}

.kata-lightbox__arrow--prev {
  left: 0;
}

.kata-lightbox__arrow--next {
  right: 0;
}

.kata-lightbox__close {
  position: absolute;
  top: 0;
  right: 0;
}

.slide-left {
  animation: slideLeft 0.6s ease !important;
}

.slide-right {
  animation: slideRight 0.6s ease !important;
}

@keyframes prevSlide {
  from {
    transform: translateX(-100%);
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes nextSlide {
  from {
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    visibility: visible;
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes slideRight {
  from {
    visibility: visible;
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
  }
}
