@import '~assets/sass/variables';

.kata {
  &-board {
    background-color: $white;
    border-radius: $border-radius-medium;
    box-shadow: $layer-100-shadow;

    &__heading {
      padding: 24px 40px;
      border-bottom: solid 1px $gray-30;
    }

    &__body {
      padding: 24px 40px;
    }

    &__footer {
      padding: 24px 40px;
      border-top: solid 1px $gray-30;
    }
  }
}
