@import '~assets/sass/variables';

.kata-version {
  &__heading-children {
    display: flex;

    input {
      flex-basis: 180px;
      margin-left: auto;
      margin-right: 16px;
    }
  }

  &__detail-icon {
    cursor: pointer;

    color: $kata-blue;
  }

  &__kataml {
    .ace_gutter {
      .ace_layer {
        .ace_gutter-cell {
          font-size: 11px;
        }
      }
    }

    .ace_scroller {
      .ace_content {
        .ace_layer {
          .ace_line {
            font-size: 11px;
          }
        }
      }
    }
  }

  &__table {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  }

  &--latest {
    & > td {
      color: $kata-blue !important;
    }
  }
}
