@import '~assets/sass/variables';

.kata-member {
  &__list-icon {
    width: 24px;
  }

  &__remove-icon {
    cursor: pointer;
  }

  &__result {
    border-radius: 4px;
    background-color: $gray-10;
    border: solid 1px $gray-30;
    overflow: auto;
    padding: 16px;
    margin-top: 16px;
  }

  &__remove {
    cursor: pointer;
    position: absolute;
    top: 60px;
    right: 60px;
  }

  &__table {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  }
}

.kata-member-btn-invite {
  &__create-button {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 5px;
    right: 0px;

    .icon-add {
      height: 16px;
      margin-right: 8px;
      font-size: 12px;
      font-weight: bold;
      margin-top: 2px;

      &:before {
        line-height: 16px;
      }
    }
  }
}

.kata-member {
  &__member-container {
    .kata-dashboard {
      &__header {
        position: relative;
      }
    }
  }
}
