@import '~assets/sass/variables';

.kata {
  &-settings {
    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__wrapper {
      &-inner {
        flex-direction: column;
      }
      &-password {
        position: relative;
      }
      &-email {
        position: relative;
      }
    }
    &__footer-action {
      text-align: right;
    }

    &__icon-view {
      position: absolute;
      right: 60px;
      top: 10px;
      padding-top: 2px;
      cursor: pointer;
    }
    &__dots {
      &--container {
        position: relative;
        display: flex;
      }
      width: 4px;
      height: 4px;
      background-color: $gray-60;
      border-radius: 50%;
    }
    &__input--text {
      width: 90%;
    }
    &__edit-email {
      position: absolute;
      right: 0px;
      top: 0px;
    }
    &__ok-password {
      position: absolute;
      top: 22px;
      right: 0px;
    }
    &__edit-password {
      position: absolute;
      right: 350px;
      top: 0px;
    }
  }
}
