@import '~assets/sass/variables';

.kata-snapshot {
  position: absolute;
  top: 20px;
  right: 20px;

  @media (min-width: $break-medium) {
    right: 40px;
  }
  @media (min-width: $break-large) {
    right: 48px;
  }
}
