@import '~assets/sass/variables';

.kata-entity-info {
  &__inner {
    border: 1px solid $gray-30;
    border-radius: 4px;
    border-collapse: collapse;
  }

  &__content {
    padding: 16px;
    padding-bottom: 24px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__type {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;

    .key {
      flex: 0 0 74px;
      margin-right: 8px;
    }

    .value {
      flex: 1 1 auto;

      i {
        margin-right: 8px;

        &::before {
          vertical-align: middle;
        }
      }
    }
  }

  &__card-info {
    border: 1px solid $gray-30;
    border-radius: 2px;
    height: 24px;
    display: flex;
    line-height: 1.9;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &--key {
      width: 148px;
      font-size: 13px;
      padding: 0 8px;
      border-right: 1px solid $gray-30;

      color: $gray-50;
      background-color: $gray-10;
    }

    &--value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 13px;
      padding: 0 8px;
      color: $gray-70;
    }
  }

  &__footer {
    padding: 16px;
    border-top: 1px solid $gray-30;
  }

  &--ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
