@import '~assets/sass/variables';

.kata-entity {
  &__card {
    overflow: visible !important;
  }

  &__page-button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    background-color: $gray-30;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &:hover {
      background-color: $kata-blue;
    }

    &:focus,
    &:active {
      outline: none;
    }

    span {
      display: none;
    }

    &--active {
      background-color: $kata-blue;
    }
  }
}
