@import '~assets/sass/variables';

$entity-card-size: 274px;
$entity-card-label-size: 250px;
$entity-card-height: 200px;

.kata {
  &-entity {
    &__header {
      display: flex;
    }

    &__tooltip {
      flex: 0 0 auto;
      align-self: center;
    }

    &__card {
      height: $entity-card-height;

      .kata-card__body {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-top: 0;
      }
    }

    &__card-info {
      border: 1px solid $gray-30;
      border-radius: 2px;
      height: 24px;
      display: flex;
      line-height: 1.9;

      &:not(:last-child) {
        margin-bottom: 4px;
      }

      &--key {
        width: 148px;
        font-size: 13px;
        padding: 0 8px;
        border-right: 1px solid $gray-30;

        color: $gray-50;
        background-color: $gray-10;
      }

      &--value {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px;
        padding: 0 8px;
        color: $gray-70;
      }
    }

    &__card-focus-hover {
      border: solid 1px $kata-blue;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25), 0 0 0 4px $soft-kata-blue;
    }

    &__add-btn {
      display: flex;
      justify-content: center;
      height: $entity-card-height;
    }

    &__icon {
      color: $kata-blue;
      margin-right: 8px;
      &::before {
        vertical-align: middle;
      }
    }

    &__subtitle {
      font-size: 12px;
      font-weight: bold;
      line-height: 18px;
      letter-spacing: 0.2px;
      text-align: left;
      color: $gray-50;
      margin-bottom: 4px;
    }

    &__belongs-to {
      display: flex;
      flex-direction: row;
      padding: 4px 0;

      &:not(:first-child) {
        margin-top: 16px;
      }

      .key {
        flex: 0 0 74px;
        margin-right: 8px;
      }

      .value {
        flex: 1 1 auto;

        i {
          margin-right: 8px;

          &::before {
            vertical-align: middle;
          }
        }
      }

      &-type {
        padding: 2px 8px;
        border-radius: 4px;
        background-color: $white;
        color: $kata-blue;
        border: solid 1px $kata-blue;
        text-align: center;
        cursor: pointer;

        &--none {
          background-color: $gray-10;
          color: $gray-50;
          border-color: $gray-30;
        }
      }
    }

    &__belongsto {
      &-type {
        height: 24px;
        border-radius: 4px;
        background-color: $white;
        border: solid 1px $kata-blue;
        padding: 2px;
        text-align: center;
        cursor: pointer;
      }
    }

    &__labels {
      padding: 16px;
      padding-bottom: calc(16px - 0.25rem);
      border: 1px solid $gray-30;
      border-radius: 4px;
      background-color: $gray-10;
    }

    &__dictionary {
      padding: 16px;
      padding-bottom: calc(16px - 0.25rem);
      border: 1px solid $gray-30;
      border-radius: 4px;
      background-color: $gray-10;

      &-label {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $gray-80;
        font-size: 14px;
        vertical-align: middle;

        i {
          margin-right: 8px;
          height: 14px;
          font-size: 14px;
          line-height: 14px;

          &::before {
            vertical-align: middle;
          }
        }
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    &__footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: $space-1;
    }

    &__footer-item {
      &:not(:first-child) {
        margin-left: 8px;
      }
    }

    &__profile-container {
      flex: 0 0 90px;
    }

    &__belongsto-container {
      flex: 0 1 auto;
    }

    &__labels-container {
      max-width: $entity-card-label-size;
      max-height: 30px;
      overflow: hidden;
      margin-left: -4px;
      padding: 4px;

      &:hover {
        position: absolute;
        overflow: auto;
        transition: all 0.5s ease;
        background: $white;
        border-radius: 8px;
        box-shadow: $layer-200-shadow;
        max-height: inherit !important;
      }
    }

    &__badge {
      border-radius: 2px;
      background-color: $gray-70;
      font-weight: bold;
      line-height: 1.45;
      color: $white;
    }

    &__create {
      &--dictionary-wrapper {
        position: relative;
        border: 1px solid $gray-30;
        border-radius: 4px;
        background-color: $gray-10;
        margin-bottom: 16px;

        &-content {
          padding: 16px 16px 0;
        }

        &-footer {
          padding: 16px;
          border-top: 1px solid $gray-30;
          text-align: right;
        }
      }

      &--remove-btn {
        background-color: $white;
        border-radius: 50%;
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
        position: absolute;
        right: -16px;
        top: -16px;
      }
    }
  }
}
