@import '~assets/sass/variables';

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.kata-form-editor {
  display: flex;
  height: 100%;
  position: relative;

  &__blocker {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    animation: fadeIn $transition-normal $transition-easing;
    z-index: 10;
  }

  &__widgets {
    flex: 0 1 240px;
    height: 100%;
    background: $gray-20;
    border-right: 1px solid $gray-30;
    padding: 28px 16px;
    z-index: 2;
    &-text-single {
      font-size: 12px;
      color: $gray-50;
      font-weight: bold;
    }
  }
  &__widget {
    &-header {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.4;
      text-align: left;
      color: $gray-80;
    }
    &-container {
      margin: 16px 0;
    }
  }
  &__content {
    flex: 1 1 auto;
    margin-left: $space-4;
  }
  &__actions {
    margin-top: $space-2;
    text-align: right;
  }

  &__designer-container {
    flex: 1 0 auto;
    padding-top: 98px;
  }
  &__designer {
    padding: 16px 48px 128px;
    width: 100%;
    max-width: 876px;
    margin: auto;
  }
  &__designer-header {
    position: absolute;
    top: 0;
    left: 230px;
    right: 0;
    height: 98px;
    padding: 24px 48px 16px;
    display: flex;
    background: #f6f7f8;
    z-index: 1;
    &--overflow {
      box-shadow: $layer-100-shadow;
    }
  }
}

.empty-message {
  animation: fadeIn $transition-slow $transition-easing;
  max-width: 320px;
  margin: 48px auto;
  &__title {
    margin: 24px auto 8px auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: $gray-80;
  }
  &__description {
    margin-top: 8px;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.54;
    text-align: center;
    color: $gray-70;
  }
}
