@import '~assets/sass/variables';

.kata-sidebar {
  display: flex;
  position: relative;
  flex: 0 0 280px;
  background: $white;

  &__sub {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &--hidden {
    display: none;
  }
  &--collapsed {
    flex: 0 0 $space-8;

    .kata-sidebar__wrapper {
      width: $space-8;
    }

    .kata-sidebar__sub {
      display: none;
    }
  }
  &__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 280px;
    z-index: 100;

    &--has-top {
      top: 64px;
    }
  }
  &__main {
    width: $space-8;
    background: $gray-80;
    color: $gray-60;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    padding-top: 17px;
    &--has-top {
      top: 64px;
    }
  }
  &__main-menu {
    padding: $space-1 0 12px;
    font-size: 12px;
    display: block;
    color: $gray-60;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $gray-60;
      .kata-sidebar__main-menu-icon {
        background: $gray-70;
        color: $gray-50;
      }
    }
    &--active {
      color: $white;
      .kata-sidebar__main-menu-icon {
        background: $kata-blue;
      }
      &:hover {
        color: $white;
        .kata-sidebar__main-menu-icon {
          background: $kata-blue;
          color: $white;
        }
      }
    }
  }
  &__main-menu-icon {
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin: 0 12px;
    padding: 10px;
    border-radius: $border-radius-small;
    margin-bottom: $space-1/2;
  }
  &__helper-menu {
    position: absolute;
    width: inherit;
    bottom: $space-5;
    a {
      color: $gray-60;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        color: $gray-50;
        .kata-sidebar__main-menu-icon {
          background: $gray-70;
          color: $gray-50;
        }
      }
    }
  }
  &__sub {
    margin-left: $space-8;
    padding: $space-3 $space-2;
  }
  &__sub-menu {
    display: block;
    padding: 6px 8px;
    color: $gray-70;
    text-decoration: none;
    margin-bottom: $space-1;
    border-radius: $border-radius-medium;
    &:hover {
      text-decoration: none;
      background: $gray-10;
      color: $gray-70;
    }
    &:active {
      background: $gray-70;
      color: $white;
    }
    &--active {
      color: $kata-blue;
      &:hover {
        background: none;
        color: $kata-blue;
      }
    }
  }
  &__sub-icon {
    margin-right: $space-2;
    font-size: 20px;
    line-height: 1em;
    vertical-align: middle;
  }
}

.kata-bot-selector {
  height: $space-5 !important;
  border-radius: $border-radius-medium !important;
}
