@import '~assets/sass/variables';

@keyframes progress {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

.multiline {
  .root {
    margin-bottom: $space-1;

    &:last-child {
      width: 65%;
    }
  }
}

.small {
  height: 16px !important;
}

.root {
  display: block;
  position: relative;
  overflow: hidden;
  height: 20px;
  width: 100%;
  background: $gray-20;
  border-radius: 4px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, $gray-20, $gray-10, $gray-20);
    animation: progress 1s ease-in-out infinite;
  }
}
