@import '~assets/sass/variables';

.custom-time {
  padding: $space-2;

  &__picker {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

// react-datetime overrides

.rdtPicker {
  padding: 0;
  border: none;

  th {
    border-color: $gray-30;
  }

  td.rdtActive,
  td.rdtActive:hover {
    background-color: $kata-blue;
  }

  td.rdtToday:before {
    border-bottom-color: $kata-blue;
  }

  .dow {
    border: 1px solid $gray-30;
  }

  .rdtDays {
    thead {
      tr:first-child {
        border: 1px solid $gray-30;
      }
    }

    tbody {
      border-top: 1px solid $gray-30;
    }

    tfoot {
      border: 1px solid $gray-30;
    }
  }

  .rdtDay {
    border: 1px solid $gray-30;
  }

  .rdtTime {
    .rdtSwitch {
      border-bottom: 0;
    }
  }
}
