@import '~assets/sass/variables';

.kata-chat-transcript {
  position: relative;
  overflow: hidden;
  height: 620px;

  .kata-board__body {
    position: absolute;
    width: 100%;
    height: 600px;
    bottom: 0px;
    overflow-y: auto;
  }
}

.kata-floating-transcript {
  &__arrow-down {
    position: fixed !important;
    right: 46px !important;
    bottom: 46px !important;
  }
  &__load-more {
    text-align: center;
  }
}
