@import '~assets/sass/variables';

.kata-revision {
  &__form-group {
    display: flex;
  }

  &__form-control {
    flex: 1 1 auto;
  }

  &__table {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  }
}
