@import '~assets/sass/variables';

.kata-cms {
  &-settings {
    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__loader {
      text-align: center;
      margin: $space-3 auto;
    }
    &__wrapper {
      &-inner {
        flex-direction: column;
      }
    }
  }
}
