@import '~assets/sass/variables';

.kata-cms-user {
  &__text-helper {
    font-size: 11px;
    color: $gray-60;
  }
  &__table {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  }
}

.kata-cms-user__add-btn {
  position: absolute;
  top: 24px;
  right: 20px;

  @media (min-width: $break-medium) {
    right: 40px;
  }

  @media (min-width: $break-large) {
    right: 48px;
  }
}
