@import '~assets/sass/variables';

.auth-wrapper {
  display: flex;
  align-items: center;
  min-height: 100vh;
  overflow: auto;

  &__welcome {
    background: $kata-blue;
    flex: 0 0 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    transition: margin $transition-fast ease;
  }

  &__welcome-hero {
    text-align: center;
  }

  &__welcome-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33;
    color: #ffffff;
    text-align: center;
    max-width: 80%;
    margin: 24px auto 16px auto;
  }
  &__welcome-subtitle {
    margin: 16px auto 24px auto;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    max-width: 80%;
    color: #fff;
  }
  &__welcome-links {
    .kata-btn-landing {
      margin: 0 8px;
    }
  }

  &__login,
  &__forgot-password,
  &__change-password {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &--not-root {
    .auth-wrapper__welcome {
      margin-left: -50%;
    }
  }
}

.auth-container {
  width: 400px;

  .kata-board__body {
    padding: 40px;
  }
}

.auth-footer {
  margin-top: 24px;
  color: $gray-60;
  font-size: 11px;
  line-height: 16px;
}

.auth-logo {
  height: 48px;
}

.auth-img {
  height: 92px;
}

.auth-form-container {
  padding: 0 25px;
  margin: 25px auto;
}

.auth-input-icon {
  color: #89949b;
  width: 15px;
}

.auth-back-button {
  a:hover {
    text-decoration: none;
  }

  i {
    line-height: 13px;

    &:before {
      font-size: 10px;
    }
  }
}

.form-control.auth-input {
  line-height: 2em;
}

.auth-label label {
  color: #979898;
}

.input-check-label,
.form-check-input {
  cursor: pointer;
}

.register-container {
  margin-top: 20px !important;
  width: 350px;
  margin: 10% auto 10px;
  box-shadow: 0 0 5px #bbb;
  background: #fff;
}

select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px;
}
