@import '~assets/sass/variables';

.kata-version-list-card {
  display: flex;
  flex-direction: column;
  min-height: 64px;
  overflow: hidden;

  .kata-card__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
  }

  &__version {
    flex: 0 0 87px;
    margin-right: 12px;
  }

  &__tag {
    flex: 0 0 129px;
    margin-right: 12px;
  }

  &__revisions {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
  }

  &__revision {
    width: 100%;
    max-width: 140px;

    &:not(:last-child) {
      margin-right: 12px;
    }

    h5,
    p {
      margin: 0;
    }
  }

  &__badge {
    height: 20px;
    border-radius: 2px;
    font-weight: bold;
    line-height: 1.45;
    padding: 2px 4px;
    font-size: 11px;
    color: #ffffff;
    background-color: #484c4f;
    vertical-align: middle;
  }

  &__buttons {
    display: flex;
    flex-direction: row;

    .kata-btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $kata-blue;

      &:not(:last-child) {
        margin-right: 8px;
      }

      &:disabled,
      &--disabled {
        background: $gray-10;
        color: $gray-50;
        border: solid 1px $gray-30;
      }

      i {
        height: 13px;
        margin-right: 8px;
        font-size: 13px;
        line-height: 13px;
      }
    }
  }
}

.kata-deployment-overview-dashboard {
  &__create-button {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20px;
    right: 48px;

    .icon-add {
      height: 16px;
      margin-right: 8px;
      font-size: 16px;

      &:before {
        line-height: 16px;
      }
    }
  }
}

.kata-text {
  &__warning {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
  }
}
