@import '~assets/sass/variables';

.kata-environment {
  &__ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__table {
    width: 100%;

    thead {
      tr > th {
        color: $gray-50;
      }
    }

    tbody {
      tr {
        height: 40px;
        background-color: $white;

        td {
          border: 1px solid $gray-30;
          color: $gray-70;

          &:first-child {
            padding-left: 16px;
            width: 280px;
          }

          &:not(:first-child) {
            text-align: center;
          }
        }
      }
    }
  }

  &__card {
    &-info {
      border: 1px solid $gray-30;
      border-radius: 2px;
      height: 24px;
      display: flex;
      line-height: 1.9;

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      &--key {
        flex: 0 0 148px;
        font-size: 12px;
        padding-left: 8px;
        border-right: 1px solid $gray-30;

        color: $gray-50;
        background-color: $gray-10;
      }

      &--value {
        flex: 1 1 auto;
        font-size: 13px;
        padding-left: 8px;

        color: $gray-70;
      }

      &--value-slug {
        font-size: 13px;
        padding-left: 8px;

        color: $gray-70;
        max-width: 248px;
        max-height: 30px;
        overflow: hidden;

        &:hover {
          position: absolute;
          padding: 4px;
          background-color: $white;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 248px;
          overflow: auto;
          // transition: all 0.5s ease;
          background: $white;
          border-radius: 6px;
          box-shadow: $layer-200-shadow;
          max-height: inherit !important;
        }
      }
    }
  }
}
