@import '~assets/sass/variables';

.kata-state {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 52px;

  &:active {
    cursor: pointer;
  }

  &__action-bar {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    padding: $space-2 20px;
    background: $gray-10;
    text-align: right;
    @media (min-width: $break-medium) {
      padding: $space-2 40px;
    }
    @media (min-width: $break-large) {
      padding: $space-2 48px;
    }
  }

  &__diagram {
    height: inherit;
    width: inherit;
    position: absolute;
    transform-origin: left center;
  }

  &--node-hovered {
    .focused {
      z-index: 900;
    }
    .kata-state__connection:not(.focused),
    .kata-state-label:not(.focused),
    .kata-state-node:not(.focused) {
      opacity: 0.2;
    }
  }
}

.kata-state-node {
  position: absolute;
  z-index: 10;
  padding-right: 8px;
  cursor: default;

  &:hover,
  &.focused {
    z-index: 1000;
    .kata-state-node__drag {
      color: $white;
    }
    .kata-state-node__fallback {
      color: $white;
    }
    .kata-state-node__content {
      background: $kata-blue;
      color: $white;
    }
  }

  &__content {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: 10px 16px;
    border: 2px solid $kata-blue;
    border-radius: 21px;
    background-color: white;
    color: $gray-80;
    transition: background-color 0.25s ease-in;
    white-space: nowrap;
    z-index: 1;
  }

  &__enpoint {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 0px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $kata-blue;
    cursor: pointer;
    box-shadow: 0 0 0 3px $soft-kata-blue;
    transition: box-shadow 0.25s ease-in;
  }

  &__drag {
    width: 6px;
    margin-right: 8px;
    font-size: 10px;
    vertical-align: middle;
    cursor: move;
  }

  &__fallback {
    width: 16px;
    margin-left: 8px;
    color: $gray-60;
    cursor: pointer;
  }

  &--initial {
    .kata-state-node__content {
      border-color: $green;
    }
    .kata-state-node__enpoint {
      background-color: $green;
      box-shadow: 0 0 0 3px #d6f8bb;
    }
    &:hover,
    &.focused {
      .kata-state-node__content {
        background: $green;
      }
    }
  }

  &--end {
    .kata-state-node__content {
      border-color: $gray-60;
    }
    .kata-state-node__enpoint {
      background-color: $gray-60;
      box-shadow: 0 0 0 3px $gray-40;
    }
    &:hover,
    &.focused {
      .kata-state-node__content {
        background: $gray-60;
      }
    }
  }
}

.kata-state-label {
  padding: 5px;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 100%;
  border: 2px solid $kata-blue;
}

.kata-state .btn-add {
  border-radius: 100%;
  border: none;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 2em;
  position: absolute;
  top: 20px;
  left: 20px;
  background: #72b4ff;
  font-weight: 100;
  z-index: 10;
}

.kata-diagram .kata-connection-tooltip {
  position: absolute;
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  z-index: 11;
}

.kata-simple-tab {
  border-bottom: 1px solid $gray-30;
  list-style: none;
  margin: 0 -48px;
  padding: 0 32px;
  margin-bottom: 16px;
  li {
    display: inline-block;
    margin: 0 12px;
  }
  &__item {
    display: block;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 8px;
    color: $gray-50;
    &:hover {
      text-decoration: none;
    }
    &--active {
      color: $kata-blue;
      border-bottom: 2px solid $kata-blue;
      margin-bottom: -1px;
      &:hover {
        color: $kata-blue;
      }
    }
  }
}

.kata-state-legend {
  &__drawer {
    width: 280px;
    padding-bottom: 50px;
    box-shadow: none;
    border-left: 1px solid $gray-30;
    .kata-drawer__heading {
      height: 60px;
    }
    .kata-drawer__heading--wrapper {
      padding: 18px 24px;
    }
    .kata-drawer__body {
      padding: 18px 24px;
    }
  }
  &__item {
    display: flex;
    margin-bottom: $space-2;
  }
  &__image {
    flex-basis: 50px;
  }
  &__content {
    padding-left: 20px;
    width: 180px;
  }
  &__title {
    font-size: 14px;
    font-weight: 700;
    color: $gray-80;
  }
  &__text {
    font-weight: 300;
    color: $gray-70;
  }
}

.kata-action {
  &__draggable {
    font-size: 10px;
    margin-right: 16px;
    cursor: move;
  }
  &__new-wrapper {
    background-color: $gray-10;
    margin-bottom: $space-1;
    padding: 12px 16px 12px 8px;
    border-radius: 4px;
    border: 1px solid $gray-30;
    font-size: 14px;
    position: relative;
    &:hover,
    &:focus {
      border-color: $kata-blue;
    }
  }
  &__wrapper {
    position: relative;
    border-radius: 4px;
    padding: $space-2;
    background-color: $gray-10;
    margin-bottom: 16px;
    border: 1px solid $gray-30;
    &--blue {
      border: 1px solid $kata-blue;
    }
  }
  &__delete-btn {
    position: absolute;
    right: 16px;
    top: 16px;
  }
  &__remove-btn {
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
    position: absolute;
    right: -16px;
    top: -16px;
  }
  &__footer {
    padding: $space-2;
    margin: 0 -16px -16px;
    border-top: 1px solid $gray-30;
    text-align: right;
  }
  &__footer-delete {
    float: left;
  }
}

.kata-action-header {
  margin: 0 -16px 16px;
  padding: 0 16px 16px;
  border-bottom: 1px solid $gray-30;
  color: $gray-80;
  font-size: 14px;
  font-weight: 700;
  &__icon {
    font-size: 24px;
    line-height: 17px;
    vertical-align: middle;
    display: inline-block;
    color: $gray-60;
  }
}

.action-type-select {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  &__item {
    flex-grow: 0;
    flex-shrink: 0;
    width: 82px;
    height: 82px;
    margin: 4px;
    border-radius: 4px;
    background: $white;
    border: 1px solid $gray-30;
    text-align: center;
    color: $gray-60;
    cursor: pointer;
    &:hover {
      background: $gray-10;
      border: 1px solid $kata-blue;
    }
    &:active {
      color: $white;
      background-color: $gray-70;
      border: none;
    }
  }
  &__icon {
    font-size: 24px;
    line-height: 17px;
    display: block;
    margin: 24px 0 10px;
  }
  &__text {
    font-size: 11px;
    line-height: 16px;
    font-weight: 700px;
  }
}
