@import '~assets/sass/variables';

.kata-publish {
  position: absolute;
  display: flex;
  top: 24px;
  right: 20px;

  &__save-container {
    margin-right: 24px;
  }

  &__menu {
    width: 135px;
  }

  @media (min-width: $break-medium) {
    right: 40px;
  }

  @media (min-width: $break-large) {
    right: 48px;
  }
}
