@import '~assets/sass/variables';
// @import '~assets/sass/typography';

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.kata-confirm-wrapper {
  position: relative;
  z-index: 1500;
  animation: fadeIn $transition-normal $transition-easing;
  &--out {
    animation: fadeOut $transition-normal $transition-easing;
  }
}

.kata-modal {
  display: block;
  visibility: hidden;
  &--show {
    visibility: visible;
  }
  &__content {
    border-width: 0;
    border-radius: $border-radius-large;
    box-shadow: $layer-300-shadow;
  }
  &__close {
    position: absolute;
    top: 16px;
    right: 16px;

    i:before {
      font-size: 16px;
    }
  }
  &__header {
    border-bottom: none;
    padding: 18px 24px 14px;
  }
  &__title {
    margin: 0;
  }
  &__icon {
    position: relative;
    right: -#{$space-1};
  }
  &__body {
    padding: 0 $space-3 $space-5;
  }
  &__footer {
    padding: $space-2 $space-3;
  }
  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: 0;
  }
}
