@import '~assets/sass/variables';

.kata-analytics-dashboard {
  &__card {
    .kata-card__body {
      padding-bottom: 16px;

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__card-footer {
    margin-top: 24px;
  }
}
