@import '~assets/sass/variables';

.kata-loading {
  padding: 12px 24px;
  display: flex;
  font-size: 11px;

  &__message {
    &--saved {
      color: $gray-60;
    }

    &--discard-btn {
      color: $kata-blue !important;
      cursor: pointer;
      margin-left: 8px;

      &:hover {
        text-decoration: underline !important;
      }
    }

    &--icon {
      color: $green;
      font-size: 9px;
      font-weight: bold;
      margin-right: 8px;
    }

    &--loading {
      margin-right: 8px;
    }
  }
}
