@import '~assets/sass/variables';

// Components
//
//# Define common padding and border radius sizes and more.

$kata-border-radius: 3px !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Medium screen / desktop
$screen-md: 1024px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;

// Large screen / wide desktop
$screen-lg: 1440px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

//
// Links
//

$kata-link-color: $kata-blue;

//== Drawer
//
//## Follow kata design system

$half-gutter: ($grid-gutter-width / 2);

$kata-drawer-bg: $white;
$kata-drawer-border-radius: $kata-border-radius;
$kata-drawer-box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.15);
$kata-drawer-border-colors: $gray-80;
$kata-drawer-color: $gray-80;
$kata-drawer-border-color: darken($kata-drawer-bg, 10%);
$kata-drawer-link-color: $kata-link-color;
$kata-drawer-link-hover-color: darken($kata-drawer-link-color, 15%);

$kata-drawer-base-padding: 10px;
$kata-zindex-drawer: 1035;

.kata {
  &-drawer {
    display: block;
    background-color: $kata-drawer-bg;
    color: $gray-80;
    min-height: 1px;
    height: 100%;
    width: 480px;
    top: 0;
    left: 0;
    position: fixed;
    padding-bottom: 170px;
    z-index: $kata-zindex-drawer;
    -webkit-box-shadow: $kata-drawer-box-shadow;
    box-shadow: $kata-drawer-box-shadow;
    transition: all 0.5s cubic-bezier(0.15, 1, 0.3, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.15, 1, 0.3, 1);

    &__heading {
      height: 80px;
      position: relative;
      z-index: 1;
      &--overflow {
        box-shadow: $layer-100-shadow;
      }
      &--wrapper {
        display: flex;
        padding: 26px 48px;
      }
    }

    &__title {
      flex: 1 0 auto;
    }

    &__icon {
      flex: 0 0 auto;
    }

    &__right {
      left: auto;
      right: 0;
      border-right: none;
      -webkit-box-shadow: $kata-drawer-box-shadow;
      box-shadow: $kata-drawer-box-shadow;
      &.fold {
        margin-left: 0;
      }
      &.folding {
        -webkit-transition-property: margin-right;
        transition-property: margin-right;
      }
    }
    &--open {
      visibility: visible;
    }
    &--close {
      visibility: hidden;
      transform: translateX(100%);
    }
    &__overlay {
      position: fixed;
      z-index: 1000;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.65);
    }
    &__body {
      padding: 26px 48px;
    }
    &__footer {
      height: 88px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 26px 48px 26px 48px;
      text-align: right;
      z-index: inherit;
      background-color: $white;
      border-top: 1px solid $gray-30;
    }
  }
}
