@import '~assets/sass/variables';

.kata-logs {
  &__filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__selector {
    &--container {
      display: flex;
      flex-direction: column;
      width: 20%;
      margin: 0 10px;
    }

    &--date-picker {
      flex: 1 1 auto;

      .DateRangePicker {
        width: 300px;
      }
    }
  }
  &--force-wrap {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
