@import '~assets/sass/variables';

.kata-loader-circle {
  display: inline-block;
  vertical-align: middle;
  /*
    Set the color of the icon
  */
  svg path,
  svg rect {
    fill: $kata-blue;
  }
}
