@import '~assets/sass/variables';

.infinite-scroll-spinner {
  width: auto;
  display: inline-block;
  text-align: center;
}

.infinite-scroll-spinner > div {
  width: 8px;
  height: 8px;
  background-color: $gray-80;
  margin: 0 3px;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.6s infinite ease-in-out both;
  animation: sk-bouncedelay 1.6s infinite ease-in-out both;
}

.infinite-scroll-spinner--small > div {
  width: 5px;
  height: 5px;
}

.infinite-scroll-spinner--large > div {
  width: 15px;
  height: 15px;
}

.infinite-scroll-spinner--white > div {
  background-color: $white;
}

.infinite-scroll-spinner--primary > div {
  background-color: $kata-blue;
}

.infinite-scroll-spinner--gray > div {
  background-color: $gray-50;
}

.infinite-scroll-spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.infinite-scroll-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
