@import '~assets/sass/variables';

.kata-cms-forms-list-card {
  display: flex;
  flex-direction: column;
  min-height: 64px;
  overflow: hidden;

  .kata-card__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
  }

  &__ellipsis {
    width: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__avatar {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    background-color: $gray-10;
    border: solid 1px $gray-30;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__drag-icon {
    margin-right: 24px;

    i {
      height: 13px;
      font-size: 13px;
      line-height: 13px;
      vertical-align: middle;
    }
  }

  &__name {
    flex: 0 0 180px;
    margin-right: 12px;
  }

  &__tag {
    flex: 0 0 129px;
    margin-right: 12px;
  }

  &__metadata {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
  }

  &__metadata-item {
    width: 100%;

    &:not(:last-child) {
      margin-right: 12px;
    }

    h5,
    p {
      margin: 0;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;

    .kata-btn {
      display: flex;
      flex-direction: row;
      align-items: center;

      &:not(:last-child) {
        margin-right: 8px;
      }

      &:not(:active) {
        color: $kata-blue;
      }

      i {
        height: 13px;
        margin-right: 8px;
        font-size: 13px;
        line-height: 13px;
      }

      &--danger {
        &:not(:active) {
          color: $red !important;
        }
      }
    }
  }
}

.kata-cms-forms-dashboard {
  &__publish-button {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20px;
    right: 48px;

    .icon-add {
      height: 16px;
      margin-right: 8px;
      font-size: 16px;

      &:before {
        line-height: 16px;
      }
    }
  }
}
