@import '~assets/sass/variables';

$intents-card-height: 154px;
$intents-margin-right: 10px;

.kata {
  &-intents {
    &__wrapper {
      padding: 24px 48px 16px;
    }
    &__container {
      width: 100%;
      max-width: 704px;
      margin: 0 auto;

      &--settings {
        max-width: 560px;
      }

      @media (min-width: $break-medium) {
        max-width: 920px;
      }

      @media (min-width: $break-large) {
        max-width: 990px;
      }

      @media (min-width: $break-xlarge) {
        max-width: 1160px;
      }

      &--flex {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
      }
    }
    &__card {
      height: $intents-card-height;
      &-action {
        .kata-card__body--as-button {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    &__attributes {
      &--container {
        position: relative;
        border-radius: 4px 4px 0 0;
        padding: 16px;
        background-color: $gray-10;
      }
      &--group {
        display: flex;
      }
      &-action-footer {
        border-top: 1px solid $gray-30;
        padding: 16px;
        margin-bottom: 16px;
        border-radius: 0 0 4px 4px;
        background-color: $gray-10;
      }
      &-row {
        &1--wrapper {
          flex: 1 1 50%;
        }
        &2--wrapper {
          flex: 1 1 50%;
        }
        &3--wrapper {
          margin-top: 24px;
        }
        &4--wrapper {
          flex: 1 1 100%;
        }
        &5--wrapper {
          flex: 1 1 10%;
        }
      }
    }
    &__dictionary {
      &--remove-btn {
        background-color: $white;
        border-radius: 50%;
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
        position: absolute;
      }
    }
    &__condition {
      &-text {
        flex: 0 0 88%;
      }
      &--wrapper {
        display: flex;
      }
      &--remove-btn {
        background-color: $white;
        border-radius: 50%;
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
        position: absolute;
        right: 50px;
      }
    }
    &__create {
      &--remove-btn {
        background-color: $white;
        border-radius: 50%;
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
        position: absolute;
        right: -16px;
        top: -16px;
      }
    }
    &__options {
      &--container {
        display: flex;
      }
      &--group {
        flex: 1 1 100%;
      }
      &--wrapper {
        display: flex;
      }
      &--initial {
        margin-right: $intents-margin-right;
      }
      &--fallback {
        margin-right: $intents-margin-right;
      }
    }
  }
}
