@import '~assets/sass/variables';
@import '~assets/sass/spacing';

$base-margin: 156px;
$dashboard-card-size: 290px;

@keyframes dashboard-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.kata {
  &-dashboard {
    flex: 1 1 auto;
    padding: $space-3 20px;

    animation: dashboard-in $transition-normal $transition-easing;

    @media (min-width: $break-medium) {
      padding: $space-3 40px;
    }
    @media (min-width: $break-large) {
      padding: $space-3 48px;
    }

    &--normalizer {
      margin: -24px -20px 0px -20px;
      @media (min-width: $break-medium) {
        margin: -24px -40px 0px -40px;
      }
      @media (min-width: $break-large) {
        margin: -24px -48px 0px -48px;
      }
    }

    &__title {
      // @extend .heading1;
      margin-bottom: 0;
      flex: 0 0 auto;

      &--starter {
        color: $white;
      }
    }

    &__subtitle {
      // @extend .title;

      &--starter {
        color: $white;
      }
    }

    &__header {
      display: flex;
    }

    &__tooltip {
      flex: 0 0 auto;
      align-self: center;
      font-size: 20px;
      color: $gray-60;
      margin-left: $space-1;
      &::before {
        vertical-align: middle;
      }
      &:hover {
        color: black;
      }
    }

    &__header {
      display: flex;
    }

    &__tooltip {
      flex: 0 0 auto;
      align-self: center;
    }

    &__cards {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -#{$space-1};

      &--centered {
        justify-content: center;
      }

      .kata-card {
        padding: 0;
        margin: 0 $space-1 $space-2;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &--columns-2 {
        .kata-card {
          flex: 0 1 calc(50% - 16px);
        }
      }

      &--columns-3 {
        .kata-card {
          flex: 0 1 calc(50% - 16px);

          @media (min-width: $break-large) {
            flex: 0 1 calc(33.33% - 16px);
          }
        }
      }
    }

    &__card-wrapper {
      flex: 0 1 calc(50% - 16px);
      margin: 0 $space-1 $space-2;
      overflow: hidden;
      text-overflow: ellipsis;

      &--columns-3 {
        @media (min-width: $break-large) {
          flex: 0 1 calc(33.33% - 16px);
        }
      }
    }

    &__container {
      width: 100%;
      max-width: 704px;
      margin: 0 auto;

      &--settings {
        max-width: 560px;
      }

      &:not(.kata-dashboard__container--settings) {
        @media (min-width: $break-medium) {
          max-width: 920px;
        }

        @media (min-width: $break-large) {
          max-width: 990px;
        }

        @media (min-width: $break-xlarge) {
          max-width: 1160px;
        }
      }

      &--flex {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
      }
    }

    &__heading-flex-inner {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__heading-content__centered {
      align-self: center;
    }

    &__heading--starter {
      display: flex;
      padding-top: 64px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 34px;
      background: linear-gradient(
        75deg,
        #0044aa,
        $cobalt 55%,
        $kata-blue 82%,
        #00cce9
      );

      @media (min-width: $break-medium) {
        padding-top: 64px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 34px;
      }

      @media (min-width: $break-large) {
        padding-top: 64px;
        padding-left: 48px;
        padding-right: 48px;
        padding-bottom: 34px;
      }

      &-image {
        margin-left: 40px;
        height: 100%;
        max-height: 240px;

        img {
          width: calc(0.67 * 494px);

          @media (min-width: $break-medium) {
            width: calc(0.9 * 494px);
          }

          @media (min-width: $break-large) {
            width: 494px;
          }
        }
      }

      &__title--starter {
        color: $white !important;
      }

      & .kata-dashboard__header-content,
      & .kata-dashboard__paragraph {
        margin-top: 8px;
        max-width: 480px;
        word-wrap: break-word;
        color: $white !important;
        font-weight: 300;
      }

      .kata-dashboard__icons-container {
        display: flex;

        .kata-dashboard__icon {
          display: flex;
          align-items: center;
          margin-right: 40px;

          a {
            display: flex;
            align-items: center;
            line-height: 1;
            margin-right: 8px;
            cursor: pointer;
            vertical-align: middle;
            text-decoration: none;

            color: $white;

            i {
              display: flex;
              align-items: center;
              font-size: 18px;
              vertical-align: middle;
              margin-right: 8px;
            }
          }
        }
      }
    }

    &__content--starter {
      margin-top: -92px !important;
      padding: 0px 20px;

      @media (min-width: $break-medium) {
        padding: 0px 40px;
      }

      @media (min-width: $break-large) {
        padding: 0px 48px;
      }
    }

    &__content-header--starter {
      margin-bottom: 24px;

      color: $white;
      font-size: $h1-font-size;
      font-weight: $h2-font-weight;
    }

    &__content-header--starter-second {
      margin-bottom: 24px;

      color: $gray-80;
      font-size: $h1-font-size;
      font-weight: $h2-font-weight;
    }
  }
}
