@font-face {
  font-family: 'museo sans';
  src: url('//db.onlinewebfonts.com/t/272715a0670500b7e64828c113fb6dbc.eot');
  src: url('//db.onlinewebfonts.com/t/272715a0670500b7e64828c113fb6dbc.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/272715a0670500b7e64828c113fb6dbc.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/272715a0670500b7e64828c113fb6dbc.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/272715a0670500b7e64828c113fb6dbc.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/272715a0670500b7e64828c113fb6dbc.svg#MuseoSansW01-100')
      format('svg');
  src: url('museo-sans-100.ttf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'museo sans';
  src: url('museo-sans-300.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'museo sans';
  src: url('//db.onlinewebfonts.com/t/62c0135163427c652ae397f327f85010.eot');
  src: url('//db.onlinewebfonts.com/t/62c0135163427c652ae397f327f85010.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/62c0135163427c652ae397f327f85010.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/62c0135163427c652ae397f327f85010.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/62c0135163427c652ae397f327f85010.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/62c0135163427c652ae397f327f85010.svg#Museo Sans')
      format('svg');
  src: url('museo-sans-500.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'museo sans';
  src: url('museo-sans-700.ttf');
  font-weight: 700;
  font-style: normal;
}
