@import '~assets/sass/variables';

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.kata-empty-message {
  animation: fadeIn $transition-slow $transition-easing;
  max-width: 320px;
  margin: 48px auto;
  text-align: center;

  &__image-autosize {
    width: 100%;
  }

  &__title {
    margin: 24px auto 8px auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: $gray-80;
  }

  &__description {
    margin-top: 8px;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.54;
    text-align: center;
    color: $gray-70;
  }
}
