@import '~assets/sass/variables';

.kata-channel-selector {
  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 240px;
    margin-bottom: $space-1;

    @media (min-width: $break-large) {
      width: 280px;
      margin-bottom: 0;
    }
  }
}
