@import '~assets/sass/variables';

$avatarSize: 40px;

.kata {
  &-avatar {
    width: $avatarSize;
    height: $avatarSize;
    border: solid 1px $gray-30;
    border-radius: 50%;
    display: inline-block;
    text-align: center;

    &.success {
      background-color: $green;
    }

    &.warning {
      background-color: $yellow;
    }

    &.danger {
      background-color: $red;
    }

    &--initial {
      position: relative;
      color: $white;
      line-height: $avatarSize;
    }
  }
}
