@import '~assets/sass/variables';

$placements: (top, right, bottom, left);

@mixin tooltipArrowMods($placements) {
  @each $place in $placements {
    &__#{$place} {
      .kata-tooltip__arrow::before {
        border-#{$place}-color: $gray-80;
      }
    }
  }
}

.kata-tooltip {
  @include tooltipArrowMods($placements);

  &__inner {
    text-align: left;
    border-radius: 4px;
    font-size: 11px;
    letter-spacing: 0.2px;
    line-height: 1.33;
    padding: 8px;

    color: $gray-30;
    background-color: $gray-80;
  }
}
