@import '~assets/sass/variables';

.kata-newscast {
  position: fixed;

  &__header {
    background: $kata-blue;
    height: 220px;
    border-radius: 8px 8px 0 0;
    text-align: center;
  }
  &__header-image {
    position: relative;
  }

  &__content {
    margin-top: 74px;
    padding: 0 24px 40px 24px;
  }
  &__content-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    color: $gray-80;
  }
  &__content-text {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.54;
    color: $gray-70;
  }

  &__modal {
    top: 64px;
  }

  &__modal-body {
    padding: 0;
  }
}
