@import '~assets/sass/variables';

.kata-newsbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  border-bottom: solid 1px $dark-cobalt;

  padding: 12px 16px;

  background: $kata-blue;

  display: flex;
  flex-direction: row;
  align-items: center;

  &__icon {
    flex: 0 0 auto;
    font-size: 18px;
    color: #ffffff;
    line-height: 0;
    position: relative;
    top: -4px;
  }
  &__text {
    margin-left: 16px;
    flex: 0 1 auto;
    font-size: 14px;
    font-weight: 500;
    line-height: 0;
    color: #ffffff;

    a {
      text-decoration: underline;
      color: #fff;
      font-weight: 700;
    }
  }
  &__close {
    color: #fff;
    flex: 0 0 auto;
    margin-left: auto;
    cursor: pointer;
  }
}
