@import '~assets/sass/variables';

.kata-channel {
  &__header-wrapper {
    display: flex;
    flex: 1 0 auto;
  }
  &__header-left {
    flex: 1 0 auto;
  }
  &__header-right {
    flex: 0 1 auto;
  }

  &__table {
    &-wrapper {
      background-color: $white;
      border-radius: 8px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
    }
    &-webhook {
      text-overflow: ellipsis;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;

      /* for good looks */
      padding: 10px;

      > .kata-channel__text-webhook--copy {
        width: calc(100% - 46px);
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        white-space: nowrap;
        vertical-align: middle;
      }
      > .kata-channel__button-webhook--copy {
        display: inline-block;
        margin-left: 6px;
        margin-right: 0;

        > .kata-channel__input-webhook--copy {
          right: 0;
        }
      }
    }
  }
  &__input {
    &-wrapper {
      display: flex;
    }
    &-webhook {
      width: 336px;
      height: 80px;
      flex: 0 0 85%;
    }
    &-token {
      width: 336px;
      height: 118px;
      flex: 0 0 85%;
    }
    &-webhook--copy {
      flex: 0 1 auto;
      right: -10px;
    }
  }
  &__list-icon {
    width: 24px;
  }
  &__list-card-buttons {
    display: flex;
    flex-direction: row;

    .kata-btn {
      display: flex;
      flex-direction: row;
      align-items: center;

      &:not(:last-child) {
        margin-right: 8px;
      }

      &:disabled,
      &--disabled {
        background: $gray-10;
        color: $gray-50;
        border: solid 1px $gray-30;
      }

      i {
        height: 13px;
        margin-right: 8px;
        font-size: 13px;
        line-height: 13px;
      }
    }
  }
  &--break-word {
    word-wrap: break-word;
  }
}
