@import '~assets/sass/variables';

.kata-module-info {
  margin-bottom: 40px;

  &__screenshot {
    display: inline-block;
    margin-right: 8px;
    border: solid 1px $gray-30;
    width: 160px;
    height: 160px;
    object-fit: cover;
  }
}

.kata-module-board-body {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
}
