.bot-img-container {
    width: 300px;
}

.bot-img {
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    vertical-align: middle;
}

.bot-img-changer {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

.bot-img:hover .bot-img-changer {
    display: block;
}

.bot-img-icon {
    font-size: 50pt;
    position: relative;
    top: 40%;
}
