@import '~assets/sass/variables';

$entity-card-size: 274px;
$entity-card-label-size: 250px;
$entity-card-height: 200px;

.kata {
  &-team {
    &__card {
      height: $entity-card-height;
      .kata-card__body {
        margin-top: 0;
      }
    }
    &__add-btn {
      display: flex;
      justify-content: center;
      height: $entity-card-height;
    }
    &__btn-link {
      color: $gray-50;
      text-decoration: none;
      &:hover {
        color: $gray-50;
      }
    }
    &__body {
      display: flex;
      margin-top: $space-3;
    }
    &__member-container {
      flex: 0 0 90px;
    }
    &__bot-container {
      flex: 0 1 auto;
    }
  }
}
