@import '~assets/sass/variables';

.kata-banner {
  display: flex;
  align-items: center;
  min-height: 32px;
  border-radius: 4px;
  line-height: 1;
  color: $white;

  &__icon {
    margin: 10px 16px;

    i {
      font-size: 17px;
      vertical-align: middle;
    }
  }

  &__message {
    flex: 1;
    margin-right: 16px;
  }

  &__close {
    margin: 10px 16px;
    cursor: pointer;
  }

  &--success {
    background-color: $green;
  }

  &--warning {
    background-color: $yellow;
  }

  &--error {
    background-color: $red;
  }

  &--info {
    background-color: $kata-blue;
  }

  &--closable {
    .kata-banner {
      &__message {
        margin-right: 0;
      }
    }
  }
}
